# Gitignore file to ignore stuffs regarding the project

# Ignore logs
/log/*
!.keep

# Ignore temporary files
/tmp
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore dependency directories
/vendor/bundle

